<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> Login is successful as <%= $owner %>. 
</div>

<ul class="list-group">
	  <li class="list-group-item active">List Of Your Friend</li>
<% @friend.each do |friend|
@counter = 0
if (friend[:name] == $id)
	@myFriend = User.find_by(id: friend[:friend])
  @inbox.each do |inbox|
    if(inbox[:toId] == $id && inbox[:fromId] == friend[:friend] && inbox[:unread] == true)
      @counter = @counter + 1;
    end
  end
 %>
	  
	  <li class="list-group-item justify-content-between">
	    <%= @myFriend[:name]%>
	    <span class="badge badge-default badge-pill" >Unread Messages: <%= @counter %></span>
      &emsp;&emsp;
	    <%= link_to "Get Messages", inbox_path(:myId =>$id, :friendId =>friend[:friend]) %>
      &emsp;&emsp;&emsp;
      <%= link_to "Unfriend", inbox_path(:myId =>$id, :friendId =>friend[:name]) %>
	  </li>
<%
elsif (friend[:friend] == $id)
  @myFriend = User.find_by(id: friend[:name])
  @inbox.each do |inbox|
    if(inbox[:toId] == $id && inbox[:fromId] == friend[:name] && inbox[:unread] == true)
      @counter = @counter + 1;
    end
  end
%>
    <li class="list-group-item justify-content-between">
      <%= @myFriend[:name]%>
      <span class="badge badge-default badge-pill" >Unread Messages: <%= @counter %></span>
      &emsp;&emsp;
      <%= link_to "Get Messages", inbox_path(:myId =>$id, :friendId =>friend[:name]) %>
      &emsp;&emsp;&emsp;
      <%= link_to "Unfriend", inbox_path(:myId =>$id, :friendId =>friend[:name]) %>
    </li>
<% end %>
<% end %>
</ul>
<Br />
<Br />
<div class="alert alert-success" role="alert">
  <strong>Add Friend!</strong>
</div>
<div class="col-md-12">
        <%= form_with scope: :friend,:owner=> @owner, url: addfriend_path, local: true do |f| %>
        <div class="form-group">
            <label for=""> Email Of Your Friend </label>
            <%= f.text_field :email, class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-outline-info">Add Friend</button>
        <% end %>
</div>
